header {
    width: 100dvw;
    padding-inline: var(--space-5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row dense;
    align-items: baseline;

    /* Lite planering av responsiv layout, jag labbar med det fortfarande, så ignorera de här raderna är ni snälla! */
    /*Nested logo container, auto resizing with min-max size*/
    /*Nested nav container, item boxes auto resizing with min-max width, turning hamburger when too narrow */
    /*Nested user container, no resizing, but when too narrow: hiding first login/logout button (also found in menu), then screen name */

    .logo-container {
        /* contains the image of the logo*/
        min-width: 300px;
        justify-self: left;
    }

    .nav-container {
        min-width: 500px;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .user-container {
        max-width: 400px;
        min-width: 200px;
        justify-self: right;
        text-align: right;
    }
}