header {
    width: 100dvw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: baseline;

    /* Lite planering av responsiv layout, jag labbar med det fortfarande, så ignorera de här raderna är ni snälla! */
    /*Nested logo container, auto resizing with min-max size*/
    /*Nested nav container, item boxes auto resizing with min-max width, turning hamburger when too narrow */
    /*Nested user container, no resizing, but when too narrow: hiding first login/logout button (also found in menu), then screen name */

    .logo-container {
        /* contains the image of the logo*/
        justify-self: left;
    }

    .nav-container {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .user-container {
        justify-self: right;
    }
}