.arrow-button .arrow {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 1;
  transform: translateY(3px);
  transition: transform 0.2s ease;
  margin-left: 5px;
}

.arrow-button:hover .arrow {
  transform: translateX(5px) translateY(3px);
}
