.btn-primary,
.btn-secondary,
.btn-vote,
.btn-danger {
  padding: var(--space-2) var(--space-6);
  border-radius: var(--radius-round);
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: var(--fs-1);
  letter-spacing: 0.05em;
  transition: all 0.2s linear;
}

.btn-primary {
  border: 1px solid var(--accent-600);
  background: transparent;
  color: var(--accent-500);
}

.btn-primary:hover {
  background: var(--accent-600);
  color: var(--white-100);
}

.btn-danger {
  border: 1px solid var(--danger);
  background: transparent;
  color: var(--danger);
}

.btn-danger:hover {
  background: var(--danger);
  color: var(--gray-900);
}

.btn-vote {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-1);
  font-size: var(--fs-1);
  color: var(--accent-500);
  border: 1px solid var(--gray-600);
  margin-top: 0.5rem;
  background: transparent;
}

.btn-vote:hover {
  border-color: var(--accent-600);
  color: var(--accent-500);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
