.infoCard {
  background: linear-gradient(
    to right,
    rgba(216, 216, 216, 0.103),
    rgba(255, 255, 255, 0.04)
  );
  border: 0.5px solid var(--gray-600);
  border-radius: var(--radius-2);
  padding: var(--space-4) var(--space-5);
  color: var(--white-100);
}

.infoCard ul,
.infoCard ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infoCard li {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-2) 0;
  border-bottom: 0.5px solid var(--gray-600);
  font-size: var(--fs-1);
}

.infoCard li:last-child {
  border-bottom: none;
}

.infoCard ul li {
  justify-content: space-between;
}

.infoCard p {
  font-size: var(--fs-1);
}
