.game-card-small {
  width: 18rem;
  margin: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.game-card-small img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.inner {
  padding: 1rem;
}

.game-card-small h3 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.game-card-small p {
  padding-bottom: 0.5rem;
}

.game-card-small a {
  color: white;
  text-decoration: none;
}
